/* General */

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    cursor: default;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}


button {
    border: none;
    outline: none !important;
}

a,
button {
    cursor: pointer;
}

a:hover,
button:hover {
    text-decoration: none;
}

a:active,
a:focus,
button:active,
button:focus {
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth
}

img {
    color: #111827;
    font-size: 10px;
    font-style: italic;
    font-family: 'Roboto Mono', monospace;
}

input,
textarea {
    border: 0;
    outline: none;
    resize: none;
}

/* Tailwind custom */

.font-sans {
    font-family: 'Roboto', sans-serif;
}

.font-mono {
    font-family: 'Roboto Mono', monospace;
}

.text-teal-50 {
    color: #f0fdfa;
}

.text-teal-100 {
    color: #ccfbf1;
}

.text-teal-200 {
    color: #99f6e4;
}

.text-teal-300 {
    color: #5eead4;
}

.text-teal-400 {
    color: #2dd4bf;
}

.text-teal-500 {
    color: #14b8a6;
}

.text-teal-600 {
    color: #0d9488;
}

.text-teal-700 {
    color: #0f766e;
}

.text-teal-800 {
    color: #115e59;
}

.text-teal-900 {
    color: #134e4a;
}

.bg-teal-50 {
    background: #f0fdfa;
}

.bg-teal-100 {
    background: #ccfbf1;
}

.bg-teal-200 {
    background: #99f6e4;
}

.bg-teal-300 {
    background: #5eead4;
}

.bg-teal-400 {
    background: #2dd4bf;
}

.bg-teal-500 {
    background: #14b8a6;
}

.bg-teal-600 {
    background: #0d9488;
}

.bg-teal-700 {
    background: #0f766e;
}

.bg-teal-800 {
    background: #115e59;
}

.bg-teal-900 {
    background: #134e4a;
}

/* Cookie Consent */

.cookieinfo {
    color: #111827 !important;
    box-sizing: border-box !important;
    border-left: 8px solid #FBBF24 !important;
    margin-bottom: 20px !important;
    width: 600px !important;
    left: 50% !important;
    transform: translate(-50%, -20%) !important;
    border-radius: 8px !important;
    padding: 12px 24px !important;
    position: fixed !important;
    cursor: default !important;
    display: flex !important;
    flex-direction: row-reverse !important;
    align-items: center !important;
    justify-content: space-between !important;
    z-index: 50 !important;
    font-weight: 400 !important;
    font-family: "Roboto", sans-serif !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cookieinfo-close {
    display: block !important;
    min-width: 40px !important;
    background:  !important;
    color: #111827 !important;
    cursor: pointer !important;
    font-weight: 700 !important;
    background: #FBBF24 !important;
    letter-spacing: -0.025em !important;
    margin-left: 24px !important;
    user-select: none !important;
    font-family: 'Roboto', sans-serif !important;
}

@media only screen and (max-width: 640px) {
    .cookieinfo {
        width: 400px !important;
    }
}

@media only screen and (max-width: 400px) {
    .cookieinfo {
        font-size: 12px !important;
        width: 300px !important;
    }
}
